@page
@model ForgotPasswordModel


<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f8f9fa;
    }

    .card {
        width: 100%;
        max-width: 400px;
        border: none;
    }

    .card-header {
        background-color: #dc3545;
        color: white;
    }
</style>
<div class="container ">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="card">
            <div class="card-header text-center">
                <h3>Forgot Password</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label asp-for="Input.Email">Email address</label>
                        <input asp-for="Input.Email" type="email" class="form-control" id="email" placeholder="Enter your email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Reset Password</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a asp-page="./Login">Back to Login</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
